#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  display: flex;
  flex-direction: column;
  background: #555;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  height: 480px;
  max-height: 80vh;
}
